/*
 * brief: 常用组件库
 * author: MichealYang
 * date: 2015/5/28
 */

.ft-heiti{
    font-family:黑体;
}

.ft-color-red{
    color:#f00;
}

.ft-color-green{
    color:#0f0;
}

.ft-color-blue{
    color:#00f;
}

.ft-color-green2{
    color:#04D216;
}

.ft-color-93{
    color:#939393;
}

/*navi-*: navi bar的颜色*/
.navi-gray{
    background:#333 !important
}
.navi-blue{
    background:#030391 !important
}
.navi-green{
    background:#030391 !important
}

/*base-title-bar: title bar的样式*/
.base-title-bar{
    float:left;
    width:100%;
    height:40px;
    background: #f00;
    margin-top:30px;
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #DDD), color-stop(1,#FFF)); 
}

.base-title-span{
    float:left;
    width:10px;
    height:40px;
    background: #0f0;
}
